body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image:url(../background_images/background_dashboard.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size:cover;
  background-color:#333333;
  overflow-x:hidden;
}
