body{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  background-image:url(../background_images/background_fitness.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size:cover;
  background-color: #333333;
  overflow-x:hidden;
}

.row1{
  display:flex;
  flex-wrap: wrap;
  position: absolute;
  top: 70px;
  width: 100%;
}

.col1{
  width: 47%;
  margin: 5px;
  margin-bottom: 25px;
  background-color:rgba(30, 30, 30, 0.9);
  color: white;
  text-align: center;
  font-size: 0.7em;
  border-radius: 10px;
  border-style: inset;
  border-color: black;
  border-width: 2px;
  padding-bottom: 5px;
}

.col2{
  width: 47%;
  margin: 5px;
  margin-bottom: 25px;
  background-color:rgba(30, 30, 30, 0.9);
  color: white;
  text-align: center;
  font-size: 0.7em;
  border-radius: 10px;
  border-style: inset;
  border-color: black;
  border-width: 2px;
  padding-bottom: 5px;
}

@media (max-width: 700px) {
  .row1 {
    flex-direction: column;
  }
  .col1,
  .col2 {
      width: 96%;
  }
}

@keyframes fadein{
  0% {opacity: 0;}
  100% {opacity: 0.6;}
}

.body_map{
  width: 100%;
  position: relative;
  top: 0px;
  z-index: 0;
}

.body_map_color{
  opacity: 0;
  width: inherit;
  position: absolute;
  top: 63.5px;
  left: 7px;
  animation: fadein 6s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.body_map_key{
  width: 80%;
  opacity: 1;
  position: relative;
  z-index: 0;
  margin-bottom: 10px;
}

.stat_lvl1{
  font-size:1rem;
  color:white;
  float: left;
  margin-top: 0.9rem;
  margin-left: 0.6rem;
  text-decoration: none;
  display: flex;
}

#first_stat{
  margin-top:0.6rem
}

.stat_lvl2{
  font-size:0.85rem;
  color:white;
  float: left;
  margin-left: 1rem;
  text-decoration: none;
  display: flex;
}

.stat_lvl3{
  font-size:0.7rem;
  color:white;
  float: left;
  margin-left: 1.8rem;
  text-decoration: none;
  display: flex;
}

.container_lvl1 {
  width: auto;
  height: 1rem;
  background-color: rgba(0,0,0,0.6);;
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
  margin-left: 6.6rem;
  border-style: inset;
  border-color: white;
  border-width: 1.5px;
  border-radius: 7px;
}

.container_lvl2 {
  width: auto;
  height: 0.7rem;
  background-color: rgba(0,0,0,0.6);;
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-right: 0.6rem;
  margin-left: 6.6rem;
  border-style: inset;
  border-color: white;
  border-width: 1.5px;
  border-radius: 7px;
}

.container_lvl3 {
  width: auto;
  height: 0.6rem;
  background-color:rgba(0,0,0,0.6);
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-right: 0.6rem;
  margin-left: 6.6rem;
  border-style: inset;
  border-color: white;
  border-width: 1.5px;
  border-radius: 7px;
}

.bar{
  transition-duration: 4s;
  transition-delay: 1s;
  width: 0%;
  text-align: center;
  background-color: #064e70;
  border-color: white;
  border-width: 1px;
  border-radius: 3px;
}

@media (max-width: 1000px){
  .container_lvl2,
  .container_lvl3 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 1400px){
  .container_lvl2,
  .container_lvl3 {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

#strength{
  font-size: 0.9rem;
}

#upper_body{
  font-size: 0.7rem;
}

#chest{
  font-size: 0.6rem;
}

#lats{
  font-size: 0.6rem;
}

#shoulders{
  font-size: 0.6rem;
}

#traps{
  font-size: 0.6rem;
}

#rear_delts{
  font-size: 0.6rem;
}

#biceps{
  font-size: 0.6rem;
}

#triceps{
  font-size: 0.6rem;
}

#forearms{
  font-size: 0.6rem;
}

#core{
  font-size: 0.7rem;
}

#abdominals{
  font-size: 0.6rem;
}

#obliques{
  font-size: 0.6rem;
}

#lower_body{
  font-size: 0.7rem;
}

#quads{
  font-size: 0.6rem;
}

#hamstrings{
  font-size: 0.6rem;
}

#glutes{
  font-size: 0.6rem;
}

#hips_groin{
  font-size: 0.6rem;
}

#calves{
  font-size: 0.6rem;
}

#cardio{
  font-size: 0.9rem;
}

#endurance{
  font-size: 0.7rem;
}

#agility{
  font-size: 0.7rem;
}
