.logo{
  position:fixed;
  right: 10px;
  top: 5px;
  height: 50px;
}

.navbar{
  background-color:#0d0d0d;
  opacity:1;
  overflow:hidden;
  position:fixed;
  top: 0px;
  right:0px;
  height:60px;
  width:100%;
  margin:0 0 0 0;
  padding:0 0 0 0;
  z-index:4;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:20px 10px 20px;
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  margin:0 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

#current-page {
  background-color:#ddd;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#fff;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
  z-index:2;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#111;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#ccc;
  font-size:23px;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 1s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:650px){
  .navbar-nav{display:none}
}

/* @media(min-width:568px){
  .open-slide{display:none}
} */

body{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  background-image:url(background_fitness.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size:cover;
  background-color: #333333;
  overflow-x:hidden;
}

.row1{
  display:flex;
  flex-wrap: wrap;
  position: absolute;
  top: 70px;
  width: 100%;
}

.col1{
  width: 47%;
  margin: 5px;
  margin-bottom: 25px;
  background-color:rgba(30, 30, 30, 0.95);
  color: white;
  text-align: center;
  font-size: 0.7em;
  border-radius: 10px;
  border-style: inset;
  border-color: black;
  border-width: 2px;
  padding-bottom: 5px;
}

.col2{
  width: 48%;
  margin: 5px;
  margin-bottom: 25px;
  background-color:rgba(30, 30, 30, 0.95);
  color: white;
  text-align: center;
  font-size: 0.7em;
  border-radius: 10px;
  border-style: inset;
  border-color: black;
  border-width: 2px;
  padding-bottom: 5px;
}

@media (max-width: 800px) {
  .row1 {
    flex-direction: column;
  }
  .col1,
  .col2 {
      width: 96%;
  }
}

@keyframes fadein{
  0% {opacity: 0;}
  100% {opacity: 0.6;}
}

.body_map{
  width: 100%;
  position: relative;
  top: 0px;
  z-index: 0;
}

.body_map_color{
  opacity: 0;
  width: inherit;
  position: absolute;
  top: 63.5px;
  left: 7px;
  animation: fadein 6s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.body_map_key{
  width: 80%;
  opacity: 1;
  position: relative;
  z-index: 0;
  margin-bottom: 10px;
}

.stat_lvl1{
  font-size:17px;
  color:white;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  display: flex;
}

.stat_lvl2{
  font-size:14px;
  color:white;
  float: left;
  margin-left: 18px;
  text-decoration: none;
  display: flex;
}

.stat_lvl3{
  font-size:12px;
  color:white;
  float: left;
  margin-left: 28px;
  text-decoration: none;
  display: flex;
}

.container_lvl1 {
  width: auto;
  height: 18px;
  background-color: rgba(0,0,0,0.6);;
  display: flex;
  margin-top: 23px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 110px;
  border-style: inset;
  border-color: white;
  border-width: 3px;
  border-radius: 7px;
}

.container_lvl2 {
  width: auto;
  height: 14px;
  background-color: rgba(0,0,0,0.6);;
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 110px;
  border-style: inset;
  border-color: white;
  border-width: 3px;
  border-radius: 7px;
}

.container_lvl3 {
  width: auto;
  height: 11px;
  background-color:rgba(0,0,0,0.6);
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 110px;
  border-style: inset;
  border-color: white;
  border-width: 3px;
  border-radius: 7px;
}

.bar{
  transition-duration: 4s;
  transition-delay: 1s;
  width: 0%;
  text-align: center;
  background-color: #064e70;
  border-color: white;
  border-width: 1px;
  border-radius: 3px;
}

#strength{
  font-size: 15px;
}

#upper_body{
  font-size: 13px;
}

#chest{
  font-size: 11px;
}

#lats{
  font-size: 11px;
}

#shoulders{
  font-size: 11px;
}

#traps{
  font-size: 11px;
}

#rear_delts{
  font-size: 11px;
}

#biceps{
  font-size: 11px;
}

#triceps{
  font-size: 11px;
}

#forearms{
  font-size: 11px;
}

#core{
  font-size: 13px;
}

#abdominals{
  font-size: 11px;
}

#obliques{
  font-size: 11px;
}

#lower_body{
  font-size: 13px;
}

#quads{
  font-size: 11px;
}

#hamstrings{
  font-size: 11px;
}

#glutes{
  font-size: 11px;
}

#hips_groin{
  font-size: 11px;
}

#calves{
  font-size: 11px;
}

#cardio{
  font-size: 15px;
}

#endurance{
  font-size: 13px;
}

#agility{
  font-size: 13px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #0d0d0d;
  opacity: 1;
  z-index: 4;
}

.footer ul{
  margin:0 0 0 0;
  list-style:none;
}

.footer a{
  float:right;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:10px 14px 10px;
  text-decoration:none;
  font-size:15px;
}

.footer a:hover{
  background-color:#ddd;
  color:#000;
}
